<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="duke" class="com.spring.action.idol.Juggler">
		<constructor-arg value="15"/>
	</bean>
	
	<bean id="sonnet29" class="com.spring.action.idol.Sonnet29"/>
	
	<!-- 装配poemJuggler -->
	<bean id="poemticduke" class="com.spring.action.idol.PoemJuggler">
		<constructor-arg ref="sonnet29"></constructor-arg>
		<constructor-arg value="10"></constructor-arg>
	</bean>
	
	<!-- 舞台Bean 
		使用静态工厂方法getInstance()返回舞台实例
	-->
	<bean id="theStage" class="com.spring.action.idol.Stage"
		factory-method="getInstance"/>
	<!-- init-method 和 detroy-method方法 -->	
	<bean id="auditorium" 
		class="com.spring.action.idol.Auditorium"
		init-method="turnOnLights"
		destroy-method="turnOffLights"
	/>
	
	<!-- setter and getter()方法注入bean，构造器注入bean测试 -->
	<bean id="kenny" class="com.spring.action.idol.Instrumentlist">
		<property name="song" value="Juggle Bells" />
		<!-- ref 引用其他bean -->
		<property name="instrument" ref="piano"/>
	</bean>
	
	<bean id="guitar" class="com.spring.action.idol.Guitar"/>
	<bean id="piano" class="com.spring.action.idol.Piano"></bean>
	
	
</beans>
